@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #151d20;
  color: #fce130;
  font-family: "Poppins", sans-serif;
}

body header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header .content {
  height: 100%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 6em;
  /* border: 2px solid red; */
}

body header .content h2 {
  font-size: 4em;
  margin-bottom: 0.5rem;
}

body header .content h5 {
  font-size: 1.5em;
  color: white;
  font-weight: bold;
  margin-bottom: 5rem;
}

body header .content p {
  font-size: 1.5em;
  font-style: italic;
  color: white;
  font-weight: 0;
  margin-bottom: 5rem;
}

body header .form {
  height: 100%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 6em;
}

body header .form .card {
  /* border: 2px solid blue; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 500px;
  width: 400px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 40px;
  -webkit-box-shadow: 0 0 15px rgba(148, 145, 145, 0.9);
          box-shadow: 0 0 15px rgba(148, 145, 145, 0.9);
  overflow: hidden;
}

body header .form .card h3 {
  height: 15%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 2px;
  font-weight: 100;
  background: #363636;
}

body header .form .card form {
  height: 85%;
  width: 100%;
  padding: 2em 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header .form .card form select {
  width: 100%;
  margin-bottom: 30px;
  padding: 0.5em 0;
  background: none;
  border: none;
  outline: none;
  color: white;
  border-bottom: 1px solid white;
  cursor: pointer;
}

body header .form .card form select option {
  color: white;
  background: #151d20;
  outline: none;
  text-transform: capitalize;
}

body header .form .card form input {
  width: 100%;
  margin-bottom: 30px;
  padding: 0.5em 0;
  background: none;
  border: none;
  outline: none;
  color: white;
  border-bottom: 1px solid white;
}

body header .form .card form input::-webkit-input-placeholder {
  color: white;
}

body header .form .card form input:-ms-input-placeholder {
  color: white;
}

body header .form .card form input::-ms-input-placeholder {
  color: white;
}

body header .form .card form input::placeholder {
  color: white;
}

body header .form .card form #submit {
  padding: 0.5em 1em;
  color: #fce130;
  font-size: 1.5em;
  background: #151d20;
  border: none;
  outline: none;
  -webkit-box-shadow: -5px -5px 10px rgba(161, 158, 158, 0.1), 5px 5px 10px rgba(0, 0, 0, 0.3);
          box-shadow: -5px -5px 10px rgba(161, 158, 158, 0.1), 5px 5px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  width: 10em;
}

body header .form .card form #submit:hover {
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3) inset, -5px -5px 10px rgba(161, 158, 158, 0.1) inset;
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3) inset, -5px -5px 10px rgba(161, 158, 158, 0.1) inset;
  background: #262c2e;
  color: white;
}

body .submitContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  display: none;
  -webkit-transition: 1s;
  transition: 1s;
}

body .submitContainer .submitCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: white;
  width: 650px;
  height: 250px;
  border-radius: 30px;
  -webkit-transform: translateY(-300%);
          transform: translateY(-300%);
  -webkit-transition: -webkit-transform 1s ease-in-out;
  transition: -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
  pointer-events: none;
}

body .submitContainer .submitCard svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 3rem;
  margin-bottom: 1rem;
  height: 70px;
}

body .submitContainer .submitCard h3 {
  color: black;
  font-size: 1.5em;
}

body .submitContainer .submitCard h4 {
  font-weight: 100;
  font-size: 1.2rem;
}

@media only screen and (max-width: 667px) {
  body {
    overflow: hidden;
  }
  body header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    padding: 30px 10px;
  }
  body header .content {
    height: auto;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 10px;
    /* border: 2px solid red; */
  }
  body header .content h2 {
    font-size: 37px;
    margin-bottom: 10px;
  }
  body header .content h5 {
    font-size: 15px;
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 0 20px;
  }
  body header .content p {
    font-size: 11px;
    font-style: italic;
    color: white;
    padding: 0 20px;
    font-weight: 0;
    margin-bottom: 70px;
  }
  body header .form {
    height: auto;
    width: 100%;
    padding: 0 10px;
  }
  body header .form .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 370px;
    width: 300px;
    border-radius: 30px;
    -webkit-box-shadow: 0 0 10px rgba(148, 145, 145, 0.9);
            box-shadow: 0 0 10px rgba(148, 145, 145, 0.9);
    overflow: hidden;
  }
  body header .form .card h3 {
    height: 15%;
    width: 100%;
    font-size: 16px;
  }
  body header .form .card form {
    height: 85%;
    width: 100%;
    padding: 20px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body header .form .card form select {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px 0;
  }
  body header .form .card form select option {
    color: white;
    background: #151d20;
    outline: none;
    text-transform: capitalize;
  }
  body header .form .card form input {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px 0;
    margin-top: 0;
  }
  body header .form .card form #submit {
    color: #fce130;
    font-size: 18px;
    background: #151d20;
    width: auto;
    padding: 10px 50px;
  }
  body header .form .card form #submit:hover {
    -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3) inset, -5px -5px 10px rgba(161, 158, 158, 0.1) inset;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3) inset, -5px -5px 10px rgba(161, 158, 158, 0.1) inset;
    background: #262c2e;
    color: white;
  }
  body .submitContainer .submitCard {
    width: 330px;
    height: 200px;
    border-radius: 20px;
  }
  body .submitContainer .submitCard svg {
    height: 40px;
  }
  body .submitContainer .submitCard h3 {
    color: black;
    font-size: 18px;
    text-align: center;
    padding: 0 20px;
  }
  body .submitContainer .submitCard h4 {
    font-size: 16px;
  }
}
/*# sourceMappingURL=form.css.map */